<div class="c-info" ng-show="notFound">
    <h3>User not found</h3>
</div>

<div class="c-user" data-ng-show="!notFound">
    <div class="c-user-profile">
        <img src="{{user.avatar_url}}" alt="{{user.name}}" width="50" height="50">
        <h2>Name: {{user.name}}</h2>
        <p>Location: {{user.location}}</p>
    </div>

    <div <class=""></div>

    <div class="c-repositories-view">
        <select name="repoSortOrder" ng-model="repoSortOrder">
    <option value="name">Name</option>
    <option value="-stargazers_count" selected ng-selected="true">Stars</option>
    <option value="language">Language</option>
    </select>

        <table cellpadding="5">
            <caption>Repositories</caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Stars</th>
                    <th>Language</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
                    <td><a href="#/repo/{{user.login}}/{{repo.name}}">{{repo.name}}</a></td>
                    <td align="right">{{repo.stargazers_count | number}}</td>
                    <td>{{repo.language}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>